/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #f5f5f5;
}



.logo img {
  width: 150px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #2b7cff;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px;
  height: 90vh;

  background: linear-gradient(
    90deg,
    #1a1a2e 0%,
    #111 50%,
    #1a1a2e 100%
  );
  color: white;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
  max-width: 500px;
}

.primary-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: #2b7cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #1f5fe0;
}

/* RIGHT SIDE IMAGE */
.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgba(0,0,0,0.6);
}